@import "global.scss";

.content {
  position: relative;
  overflow: hidden;
}

.sloterra {
  position: absolute;
  top: 100px;
  left: 92px;
}

.logo img {
  max-width: 320px;
}

.images {
  position: absolute;
  bottom: 0;
  right: -120px;
}

.back-girl img {
  max-width: 100%;
}

.wheel_wrap {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.wheel_wrap:before {
  background: url("../img/BACK.png") 0 0 no-repeat;
  max-width: 892px;
  width: 100%;
  height: 892px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  content: '';
}

.wheel_btn.disabled {
  .wheel_btn__inner {
    cursor: not-allowed;
    transform: translate(-50%, -50%) scale(1) !important;
    animation-play-state: paused;
  }
}

.wheel_btn__inner {
  background: url("../img/Button_spin.png") 0 0 no-repeat;
  max-width: 182px;
  width: 100%;
  height: 182px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  cursor: pointer;
  z-index: 3;
  animation: 1s cta ease-in-out infinite;
}

.wheel_spinner__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &--relative {
    position: relative;
    
    &::after {
      position: absolute;
      content: '';
      left: 50%;
      top: -95px;
      transform: translateX(-50%);
      max-width: 127px;
      width: 100%;
      height: 139px;
      background: url("../img/Ukazatel.png") 0 0 no-repeat;
      background-size: contain;
      z-index: 2;
    }
  }
}

.wheel_wrap__wheels {
  position: relative;
  margin: auto;
}

.wheel_spinner--center img {
  width: 100%;
  max-width: 397px;
  height: 397px;
}

.wheel_spinner_img {
  max-width: 595px;
  height: 595px;
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.wheel_spinner--main {
  position: relative;
  width: 651px;
  height: 651px;
}

.wheel_spinner--center {
  width: 543.54px;
  height: 542.45px;
  transform: rotate(-45deg);

  img {
    width: 100%;
  }
}

.wheel_spinner {
  transition: all .5s !important;
}

@keyframes cta {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

//big wheel
.wheel_spinner.wheel_spinner_animated {
  animation: 3s spinner ease-in-out infinite;
}

.wheel_spinner.wheel_spinner_animated_again {
  animation: 7s spinToTryAgain ease-in-out forwards;
}

.wheel_spinner.wheel_spinner_animated_1 {
  animation: 7s spinTo1 ease-in-out forwards;
}

@keyframes spinner {
  0% {
    transform: rotate(-60deg);
  }

  50% {
    transform: rotate(-70deg);
  }

  100% {
    transform: rotate(-60deg);
  }
}

@keyframes spinToTryAgain {
  0% {
    transform: rotate(-60deg);
  }

  70% {
    transform: rotate(785deg);
  }

  85% {
    transform: rotate(770deg);
  }

  100% {
    transform: rotate(778deg);
  }
}

@keyframes spinTo1 {
  0% {
    transform: rotate(778deg);
  }

  70% {
    transform: rotate(1562deg);
  }

  80% {
    transform: rotate(1553deg);
  }

  100% {
    transform: rotate(1557deg);
  }
}

// small wheel
.wheel_spinner.wheel_spinner_animated--small {
  animation: 3s spinner-small ease-in-out infinite;
}

.wheel_spinner.wheel_spinner_animated_2 {
  animation: 5s spinTo2 ease-in-out forwards;
}

@keyframes spinner-small {
  0% {
    transform: rotate(55deg);
  }

  50% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(55deg);
  }
}

@keyframes spinTo2 {
  0% {
    transform: rotate(55deg);
  }

  70% {
    transform: rotate(-665deg);
  }

  80% {
    transform: rotate(-654deg);
  }

  100% {
    transform: rotate(-660deg);
  }
}

// POPUP 
.popup_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 4;
  display: none;
  overflow: auto;
}

.popup_bonus {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px 35px;
}

.popup_bonus-box {
  position: relative;
  margin: auto;
  text-align: center;
  border: 2px solid #FFD79A;
  max-width: 726px;
  width: 100%;
  background: radial-gradient(119.52% 89.79% at 50% 21.86%, rgba(56, 56, 56, 0.9) 0%, rgba(33, 33, 33, 0.9) 49.48%, rgba(21, 21, 21, 0.9) 100%);
  border-radius: 50px;
  padding: 106px 73px;
  z-index: 2;
  box-shadow: 0px 0px 0px 7px black, 0px 0px 0px 9px #FFD79A;
}

.popup_bonus-decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &-item {
    position: absolute;

    img {
      max-width: 100%;
    }

    &--top {
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--right {
      top: 50%;
      right: -30px;
      transform: translateY(-50%);
    }

    &--bottom {
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--left {
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
    }
  }
}

.popup_bonus-logo {
  position: relative;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 94px;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../img/background-dots.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.bonus_logo {
  background: radial-gradient(94.46% 158.2% at 50% 50%, #FFDC77 0%, #934600 98.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 2px 3px rgba(181, 82, 26, 0.64);
}

.claim-bonus {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  padding: 18px 42px;
  background: linear-gradient(90deg, #826313 0%, #FFE589 101.87%);
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 2;
}

.popup_bonus-text {
  font-weight: 600;
  font-size: 40px;
  color: #fff;
  margin-bottom: 129px;


  span {
    font-weight: 700;
    font-size: 60px;
    color: #FFD55B;
    text-shadow: 0px 0px 10px #FF9921;
    filter: drop-shadow(0px 0px 3px #EA8003);
  }
}

.popup_bonus-terms a {
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #fff;
  margin-top: 20px;
}

.popup_window {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  width: 100%;
}

.signup-form {
  padding: 48px 87px 86px;
  max-width: 624px;
  width: 100%;
  border: 2px solid #ffd79a;
  background-color: #212121;
  border-radius: 51px;
  margin: 60px auto;
  text-align: center;
}

.bonus__inner {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.box {
  margin-right: 23px;
}

.deposit {
  text-align: left;
  font-weight: 400;
  font-size: 25px;
  color: #CBCBCB;

  .deposit__message {
    font-weight: 700;
    margin: 0;
  }

  .deposit__bonus {
    font-weight: 700;
    font-size: 36px;
    color: #FFD55B;
    margin: 0;
    filter: drop-shadow(0px 0px 3px #EA8003);
  }
}

.social-text {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 12px;
}

.social-icon a+a {
  margin-left: 25px;
}

.social-icon {
  margin-bottom: 37px;
}

.input-box {
  max-width: 450px;
  width: 100%;
  border-radius: 14px;
  background-color: #484848;
  color: #fff;
  border: none;
  outline: none;
  padding: 13px 24px 12px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

}

.input-box::placeholder {
  color: #fff;
}

.check__box {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  padding-left: 20px;
  top: 0;
  left: 0;
}

.check-box {
  margin-bottom: 51px;

  label {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    padding-left: 35px;

    &:first-child {
      margin-bottom: 6px;
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.check-style {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 2px solid #FFC42D;
  border-radius: 6px;
  margin-left: -35px;
}

.check__box:checked+.check-style {
  background-image: url("../img/arrowdown.png");
  background-color: #FFC42D;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #826313 0%, #FFE589 101.87%);
  border-radius: 15px;
  padding: 18px 68px;
  cursor: pointer;
}

.log-in {
  &__text {
    display: inline-block;
    color: #989898;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__link {
    display: inline-block;
    color: #FFCA40;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 19px;
  }
}

.selectric-wrapper {
  margin-bottom: 20px;

  .selectric {
    background: #484848;
    border-radius: 14px;
    border: none;
    text-align: left;
    padding: 13px 24px 12px;

    .label {
      margin: 0;
      height: unset;
      color: white;
      font-size: 18px;
      line-height: 22px;
    }

    .button {
      background: none;
      width: unset;
      height: unset;
      bottom: 0;
      padding: 0 30px;

      &::after {
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='2.2522' width='2.6335' height='13.1675' transform='rotate(-45 0 2.2522)' fill='%23A3A3A3'/%3E%3Crect x='17.2113' width='2.6335' height='13.1675' transform='rotate(45 17.2113 0)' fill='%23A3A3A3'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        width: 19px;
        height: 12px;
        transition: transform .2s;
      }
    }
  }

  &.selectric-open {
    &.selectric-below {
      .selectric {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .selectric-items {
        background: #484848;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
      }
    }

    &.selectric-above {
      .selectric {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
      }

      .selectric-items {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .selectric {
      .button {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .selectric-items {
    background: #484848;
    overflow: hidden;
    border: none;
    text-align: left;

    li {
      padding: 8px 24px;
      color: white;
      font-size: 18px;
      line-height: 22px;

      &:hover {
        background-color: #5c5c5c;
      }

      &.highlighted,
      &.selected {
        background-color: #5c5c5c;
      }
    }

    .selectric-scroll {

      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: rgba(217, 217, 217, 0.2);
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #D9D9D9;
        border-radius: 6px;
      }
    }
  }
}



@import "media.scss";